<footer class="teal lighten-2 page-footer">
  <div class="container">
    <div class="row">
      <div class="col m4 s12">
        <h5 class="white-text">Con la ayuda de</h5>
        <p class="grey-text text-lighten-4"><img src="images/ministerio-cultura.png" width="100%"/></p>
      </div>
    </div>
  </div>
  <div class="teal footer-copyright">
    <div class="container">
      © 2018 <a class="grey-text text-lighten-4" href="http://www.iametza.eus">Iametza Interaktiboa</a>
      <%# <a class="grey-text text-lighten-4 right" href="http://www.dantzaz.net">Dantzazentzako garapena</a>%>
    </div>
  </div>
</footer>
