<div class="card">
  <div class="card-image">
    <% if(card.image != '') { %>
      <img src="<%= card.image %>" />
    <% } %>
    <% if(card.video != '') { %>
      <%- card.video %>
    <% } %>
    <span class="card-title"><%= card.title %></span>
    <a data-id="<%= index %>" class="btn-floating halfway-fab waves-effect waves-light red informazioa">
      <i class="material-icons">send</i>
    </a>
  </div>
  <div class="card-content">
    <p><%- card.description %></p>
  </div>
</div>
