<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="eu">

<head>
  <% include ../partials/head %>
  <script src="js/init.js"></script>
</head>

<body>
  <% include ../partials/header %>
  <div class="container">
    <div class="row" id="edukia">    
    </div>
  </div>
  <% include ../partials/footer %>
</body>
</html>
