<!-- views/pages/panel.ejs -->
<!DOCTYPE html>
<html lang="eu">
<head>
  <% include ../partials/head_admin %>
  <script type="text/javascript">
  var cards = <%- JSON.stringify(data) %>;
  </script>
  <script src="js/panel.js"></script>
</head>

<body>
  <% include ../partials/header_admin %>
  <div class="container">
    <div class="row" id="edukia">
      <h1>Información sobre el evento</h1>
      <% data.forEach(function(card, index) { %>
        <div class="col s12 m6" id="<%= index %>">
            <%- include('card', { card: card, index: index }); %>
        </div>
      <% }); %>
    </div>
  </div>
  <% include ../partials/footer %>
</body>

</html>
